.QuestionCard {
  background-color: #F0F4F8;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.QuestionText {
  color: #333;
  font-size: 16px;
  margin-bottom: 8px;
}

.QuestionBoldText {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
